.slider {
  width: 100%;
  height: calc(100vh - 190px);
}
.slider img {
  width: 100%;
  height: calc(100vh - 190px);
  object-fit: cover;
}
.slider .slick-slide,
.slider .slick-slide > div {
  width: 100%;
  height: calc(100vh - 190px);
}

.thumbnail {
  margin: 10px 0 0;
  width: 100%;
  height: 180px;
}
.thumbnail img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.thumbnail .slick-track {
  width: 100% !important;
  display: flex;
}
.thumbnail .slick-slide,
.thumbnail .slick-slide > div {
  width: 320px !important;
  height: 180px;
}
.thumbnail .slick-track {
  transform: unset !important;
}
.thumbnail-img {
  opacity: .2;
  transition: opacity .3s linear;
}
.thumbnail .slick-current .thumbnail-img {
  opacity: 1;
}

.slider-dots {
  position: absolute;
  bottom: 7px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.slider-dots li {
  display: none;
}
.slider-dots li.slick-active {
  display: block;
  width: 100%;
  height: 7px;
}
.slider-dots button {
  position: relative;
  width: 100%;
  height: 7px;
  border: 0;
  border-top: 1px rgba(0,0,0,.15) solid;
  background: rgba(255,255,255,.3);
  font-size: 0;
}
.slider-dots button:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 0%;
  height: 7px;
}
.slick-dotted.slick-slider {
  margin-bottom: 10px !important;
}

.slick-active button:after {
  background-color: #fff000;
  animation: progress 15s linear forwards;
}
@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}